/* CSS At-Rules */
    /* @keyframes */
        /* Fade In */
        @keyframes fadeIn {
            0% { opacity: 0 }
            to { opacity: 1 }
        }
            /* Level 1 */
            @keyframes fadeIn1 {
                0% { opacity: 0 }
                25% { opacity: 1 }
            }

        /* Fade Out */
        @keyframes fadeOut {
            0% { opacity: 1 }
            to { opacity: 0 }
        }

        /* Spin */
        @keyframes spin {
            0% { transform: rotate(0deg) }
            to { transform: rotate(360deg) }
        }

/* DOM Elements */
    /* <body> */
    body { font-size: .9375em }
        /* @media */
            /* Mobile (Small) */
            @media only all
                and (max-width: 320px)
                and (min-width: 0px) { body { font-size: .46875em } }

            /* Mobile (Medium) */
            @media only all
                and (max-width: 375px)
                and (min-width: 321px) { body { font-size: .625em } }

            /* Mobile (Large) */
            @media only all
                and (max-width: 420px)
                and (min-width: 376px) { body { font-size: .78125em } }

            /* Tablet */
            @media only all
                and (max-width: 768px)
                and (min-width: 421px) { body { font-size: .9375em } }

            /* Laptop */
            @media only all
                and (max-width: 1024px)
                and (min-width: 769px) { body { font-size: 1.09375em } }

            /* Laptop (Large) */
            @media only all
                and (max-width: 1440px)
                and (min-width: 1025px) { body { font-size: 1.25em } }

            /* 4K */
            @media only all
                and (max-width: 2560px)
                and (min-width: 1441px) { body { font-size: 1.40625em } }

    body,
    body > * {
        transition: opacity .3s ease-in-out 0s;
        z-index: 1
    }

    /* <h1> */
    h1 { font-size: 1.625em }
        /* @media */
            /* Mobile (Small) */
            @media only all
                and (max-width: 320px)
                and (min-width: 0px) { h1 { font-size: 1.21875em } }

            /* Mobile (Medium) */
            @media only all
                and (max-width: 375px)
                and (min-width: 321px) { h1 { font-size: 1.42187em } }

            /* Mobile (Large) */
            @media only all
                and (max-width: 420px)
                and (min-width: 376px) { h1 { font-size: 1.625em } }

            /* Tablet */
            @media only all
                and (max-width: 768px)
                and (min-width: 421px) { h1 { font-size: 1.82812em } }

            /* Laptop */
            @media only all
                and (max-width: 1024px)
                and (min-width: 769px) { h1 { font-size: 2.03125em } }

            /* Laptop (Large) */
            @media only all
                and (max-width: 1440px)
                and (min-width: 1025px) { h1 { font-size: 2.23437em } }

            /* 4K */
            @media only all
                and (max-width: 2560px)
                and (min-width: 1441px) { h1 { font-size: 2.4375em } }

    /* <h2> */
    h2 { font-size: 1.4375em }
        /* @media */
            /* Mobile (Small) */
            @media only all
                and (max-width: 320px)
                and (min-width: 0px) { h2 { font-size: 1.07812em } }

            /* Mobile (Medium) */
            @media only all
                and (max-width: 375px)
                and (min-width: 321px) { h2 { font-size: 1.25781em } }

            /* Mobile (Large) */
            @media only all
                and (max-width: 420px)
                and (min-width: 376px) { h2 { font-size: 1.4375em } }

            /* Tablet */
            @media only all
                and (max-width: 768px)
                and (min-width: 421px) { h2 { font-size: 1.61718em } }

            /* Laptop */
            @media only all
                and (max-width: 1024px)
                and (min-width: 769px) { h2 { font-size: 1.79687em } }

            /* Laptop (Large) */
            @media only all
                and (max-width: 1440px)
                and (min-width: 1025px) { h2 { font-size: 1.97656em } }

            /* 4K */
            @media only all
                and (max-width: 2560px)
                and (min-width: 1441px) { h2 { font-size: 2.15625em } }

    /* <h3> */
    h3 { font-size: 1.1875em }
        /* @media */
            /* Mobile (Small) */
            @media only all
                and (max-width: 320px)
                and (min-width: 0px) { h3 { font-size: .890625em } }

            /* Mobile (Medium) */
            @media only all
                and (max-width: 375px)
                and (min-width: 321px) { h3 { font-size: 1.03906em } }

            /* Mobile (Large) */
            @media only all
                and (max-width: 420px)
                and (min-width: 376px) { h3 { font-size: 1.1875em } }

            /* Tablet */
            @media only all
                and (max-width: 768px)
                and (min-width: 421px) { h3 { font-size: 1.33593em } }

            /* Laptop */
            @media only all
                and (max-width: 1024px)
                and (min-width: 769px) { h3 { font-size: 1.48437em } }

            /* Laptop (Large) */
            @media only all
                and (max-width: 1440px)
                and (min-width: 1025px) { h3 { font-size: 1.63281em } }

            /* 4K */
            @media only all
                and (max-width: 2560px)
                and (min-width: 1441px) { h3 { font-size: 1.78125em } }

    /* <h4> */
    h4 { font-size: .96875em }
        /* @media */
            /* Mobile (Small) */
            @media only all
                and (max-width: 320px)
                and (min-width: 0px) { h4 { font-size: .726562em } }

            /* Mobile (Medium) */
            @media only all
                and (max-width: 375px)
                and (min-width: 321px) { h4 { font-size: .847656em } }

            /* Mobile (Large) */
            @media only all
                and (max-width: 420px)
                and (min-width: 376px) { h4 { font-size: .96875em } }

            /* Tablet */
            @media only all
                and (max-width: 768px)
                and (min-width: 421px) { h4 { font-size: 1.08984em } }

            /* Laptop */
            @media only all
                and (max-width: 1024px)
                and (min-width: 769px) { h4 { font-size: 1.21093em } }

            /* Laptop (Large) */
            @media only all
                and (max-width: 1440px)
                and (min-width: 1025px) { h4 { font-size: 1.33203em } }

            /* 4K */
            @media only all
                and (max-width: 2560px)
                and (min-width: 1441px) { h4 { font-size: 1.45312em } }

    /* <h5> */
    h5 { font-size: .6875em }
        /* @media */
            /* Mobile (Small) */
            @media only all
                and (max-width: 320px)
                and (min-width: 0px) { h5 { font-size: .515625em } }

            /* Mobile (Medium) */
            @media only all
                and (max-width: 375px)
                and (min-width: 321px) { h5 { font-size: .601562em } }

            /* Mobile (Large) */
            @media only all
                and (max-width: 420px)
                and (min-width: 376px) { h5 { font-size: .6875em } }

            /* Tablet */
            @media only all
                and (max-width: 768px)
                and (min-width: 421px) { h5 { font-size: .773437em } }

            /* Laptop */
            @media only all
                and (max-width: 1024px)
                and (min-width: 769px) { h5 { font-size: .859375em } }

            /* Laptop (Large) */
            @media only all
                and (max-width: 1440px)
                and (min-width: 1025px) { h5 { font-size: .945312em } }

            /* 4K */
            @media only all
                and (max-width: 2560px)
                and (min-width: 1441px) { h5 { font-size: 1.03125em } }

    /* <h6> */
    h6 { font-size: .5em }
        /* @media */
            /* Mobile (Small) */
            @media only all
                and (max-width: 320px)
                and (min-width: 0px) { h6 { font-size: .375em } }

            /* Mobile (Medium) */
            @media only all
                and (max-width: 375px)
                and (min-width: 321px) { h6 { font-size: .4375em } }

            /* Mobile (Large) */
            @media only all
                and (max-width: 420px)
                and (min-width: 376px) { h6 { font-size: .5em } }

            /* Tablet */
            @media only all
                and (max-width: 768px)
                and (min-width: 421px) { h6 { font-size: .5625em } }

            /* Laptop */
            @media only all
                and (max-width: 1024px)
                and (min-width: 769px) { h6 { font-size: .625em } }

            /* Laptop (Large) */
            @media only all
                and (max-width: 1440px)
                and (min-width: 1025px) { h6 { font-size: .6875em } }

            /* 4K */
            @media only all
                and (max-width: 2560px)
                and (min-width: 1441px) { h6 { font-size: .75em } }

/* Assets */
    /* Spinner */
    [role=spinner] { animation: spin 1s ease-in-out 0s infinite }

    /* Text Underline */
    .text-underline { text-decoration: underline }

    /* Underline */
    .underline {
        border-bottom: 1px solid;
        text-decoration: none
    }

/* Components */
    /* Loading Screen */
    loading-screen#loadingScreen {
        animation: fadeIn1 1s ease-in 0s;
        background-color: rgba(255, 255, 255, .9875);
        bottom: 0;
        display: block;
        height: 100%;
        left: 0;
        min-height: 100vh;
        opacity: 1 !important;
        pointer-events: all;
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 16
    }
        /* Container */
        loading-screen#loadingScreen > [role=container] {
            height: 100%;
            width: 100%
        }
            /* Loader Element */
            loading-screen#loadingScreen > [role=container] > loader-element {
                height: 50px;
                width: 50px
            }
                /* Spinner */
                loading-screen#loadingScreen > [role=container] > loader-element > [role=spinner] {
                    border: 5px solid;
                    border-top-color: #06F;
                    border-radius: 50%;
                    height: 100%;
                    width: 100%
                }

            /* Content */
            loading-screen#loadingScreen > [role=container] > [role=content] { font-style: italic }
