/* DOM Elements */
    /* <body>, <html>, <main> */
    body,
    html,
    main {
        overflow-x: hidden
    }

/* Components */
    /* Cover */
    #cover {
        background-image: url('../img/webp/cover-bg-1.l-ll-fourk.webp');
        color: #FFFFFF;
        text-shadow: 0 0 1.5px rgba(0, 0, 0, .5)
    }
        /* @media */
            /* (Mobile, Tablet) View */
            @media only all
                and (max-width: 768px) {
                    #cover {
                        background-image: url('../img/webp/cover-bg-1.m-t.webp')
                    }
            }

            /* (Laptop (L), 4K) View */
            @media only all
                and (max-width: 2560px)
                and (min-width: 769px) {
                    #cover {
                        background-image: url('../img/webp/cover-bg-1.l-ll-fourk.webp')
                    }
            }

        /* Header Group */
            /* @media > (Mobile, Tablet) View */
            @media only all
                and (max-width: 768px) {
                    #cover [data-id=headerGroup] {
                        text-align: center
                    }
            }

        /* Header Navigation Bar */
        #cover [role=header-navigation-bar] {
            flex-wrap: wrap;
            height: 0;
            max-height: 0
        }
            /* @media > (Mobile, Tablet) View */
            @media only all
                and (max-width: 768px) {
                    #cover [role=header-navigation-bar] {
                        bottom: 75px
                    }
            }

            /* Content */
            #cover [role=header-navigation-bar] > * {
                flex-basis: 175px;
                height: 20px;
                max-width: 175px;
                width: 175px
            }
                /* @media > (Mobile, Tablet) View */
                @media only all
                    and (max-width: 768px) {
                        #cover [role=header-navigation-bar] > * {
                            flex-basis: 33.3%;
                            margin-bottom: 5px;
                            margin-top: 5px;
                            max-width: 33.3%;
                            min-width: 33.3%;
                            width: 33.3%
                        }
                }

        /* Mid Section */
            /* @media > (Mobile, Tablet) View */
            @media only all
                and (max-width: 768px) {
                    #cover > [data-id=midSection] {
                        flex-direction: column-reverse;
                        overflow: hidden
                    }
            }

        /* Image */
            /* @media > (Mobile, Tablet) View */
            @media only all
                and (max-width: 768px) {
                    #cover [data-id=image] {
                        display: flex
                    }
            }

        /* Logo */
        #cover [role=logo] {
            width: 80%
        }
            /* @media > (Mobile, Tablet) View */
            @media only all
                and (max-width: 768px) {
                    #cover [role=logo] {
                        float: none;
                        margin-bottom: 0;
                        width: 60%
                    }
            }

    /* Sub Header */
    #cover [data-id=subheader] {
        height: 200px;
        max-height: 200px
    }
        /* @media > (Mobile, Tablet) View */
        @media only all
            and (max-width: 768px) {
                #cover [data-id=subheader] {
                    height: 100px;
                    max-height: 100px
                }
        }

    /* Introduction */
    #introduction {
        color: #0056FF;
        padding-bottom: 10px;
        padding-top: 10px
    }
        /* @media > (Mobile, Tablet) View */
        @media only all
            and (max-width: 768px) {
                #introduction {
                    height: 150vh;
                    min-height: 150%
                }
        }

        /* Content */
            /* States */
                /* First Child */
                    /* Content */
                    #introduction > :first-child > * {
                        margin: 10px auto
                    }

                    /* Text */
                    #introduction > :first-child > [data-id=text] {
                        max-height: 200px;
                        width: 75%
                    }

                /* Last Child */
                    /* @media > (Mobile, Tablet) View */
                    @media only all
                        and (max-width: 768px) {
                            #introduction > :last-child {
                                flex-direction: column
                            }
                    }

                    /* <carousel-component> */
                    #introduction > :last-child > carousel-component {
                        height: 300px;
                        margin: auto 1%
                    }
                        /* @media */
                            /* Mobile View */
                            @media only all
                                and (max-width: 425px) {
                                    #introduction > :last-child > carousel-component {
                                        height: 200px
                                    }
                            }

                            /* Tablet View */
                            @media only all
                                and (max-width: 768px)
                                and (min-width: 426px) {
                                    #introduction > :last-child > carousel-component {
                                        height: 250px
                                    }
                            }

                        /* (Buttons, Indicators) Container */
                        #introduction > :last-child > carousel-component > [data-id=buttons-container],
                        #introduction > :last-child > carousel-component > [data-id=indicators-container] {
                            display: none
                        }

    /* Particles JS */
    #particles-js {
        background: rgba(0, 64, 255, .3);
        background: linear-gradient(rgba(0, 127, 255, .3), rgba(0, 0, 255, .3));
        max-height: 100vh
    }
