/* DOM Elements */
    /* <body> */
    body {
        overflow: hidden
    }

/* Components */
    /* Features */
        /* Container */
        #features > [role=container] {
            margin: auto
        }
            /* Content */
            #features > [role=container] > * {
                border: 1px solid;
                border-radius: 6px;
                font-size: 10px;
                height: auto;
                margin: 3.3334% auto;
                max-width: 300px;
                overflow: hidden;
                outline: 0;
                padding: 1% 2.5%;
                text-align: left
            }
                /* @media */
                    /* Mobile View */
                    @media only all
                        and (max-width: 425px) {
                            #features > [role=container] > * {
                                border-radius: 2px;
                                flex-basis: 82.5%;
                                max-width: 82.5%;
                                width: 82.5%
                            }
                    }

                    /* Tablet View */
                    @media only all
                        and (max-width: 768px)
                        and (min-width: 426px) {
                            #features > [role=container] > * {
                                border-radius: 4px;
                                flex-basis: 75%;
                                max-width: 75%;
                                width: 75%
                            }
                    }

                /* Description */
                #features > [role=container] > * > [data-id=description] {
                    height: 300px;
                    max-height: 300px;
                    overflow-y: auto
                }
                    /* @media > (Mobile, Tablet) View */
                    @media only all
                        and (max-width: 768px) {
                            #features > [role=container] > * > [data-id=description] {
                                font-size: 15px
                            }
                    }

                /* Header */
                #features > [role=container] > * > [data-id=header] {
                    overflow: initial !important
                }

    /* Introduction
            --- NOTE ---
                @lapys:
                    - The CSS properties are a bit abnormal
                        to compensate for the `box-shadow` effect on it.

                    - The first `box-shadow` is a 'fade-in' effect,
                        the second has no effect,
                        the last removes the `box-shadow` entirely.
    */
    #introduction {
        box-shadow: inset 0 -50px 150px 0 rgba(0, 51, 255, .5),
                            inset 0 50px 150px 0 rgba(0, 51, 255, .5);
        box-shadow: inset 0 -75px 0 0 rgba(0, 51, 255, .5),
                            inset 0 75px 0 0 rgba(0, 51, 255, .5);
        box-shadow: none;
        left: -5%;
        padding-left: 5%;
        position: relative;
        text-shadow: 0 0 2px #FFFFFF;
        width: 110%
    }

        /* Content */
        #introduction > * {
            max-width: 80%;
            transform: translate(-5%, 15px)
        }

        /* Container */
        #introduction > [role=container] {
            padding-bottom: 10px
        }
            /* Content > States > First Child */
            #introduction > [role=container] > :first-child {
                border-bottom: 1px solid rgba(0, 51, 255, .3);
                border-radius: 3px;
                margin-left: 7.5%;
                margin-right: 7.5%;
                padding-bottom: inherit;
                width: 85%
            }

        /* Description */
        #introduction > [data-id=description] {
            width: 65%
        }
            /* Content */
            #introduction > [data-id=description] > * {
                display: block;
                height: 250px;
                max-height: 250px;
                overflow-x: hidden;
                overflow-y: auto
            }

    /* Jumbotron */
    #jumbotron {
        background-color: #FFFFFF;
        background-image: url('../img/png/jumbotron-bg.l-ll-fourk.png');
        box-shadow: inset 0 0 5000px 0 rgba(0, 0, 0, .05);
        font-size: 30px
    }
        /* @media */
            /* Mobile View */
            @media only all
                and (max-width: 425px) {
                    #jumbotron {
                        font-size: 20px
                    }
            }

            /* (Mobile, Tablet) View */
            @media only all
                and (max-width: 768px) {
                    #jumbotron {
                        background-image: url('../img/png/jumbotron-bg.m-t.png')
                    }
            }

            /* Tablet View */
            @media only all
                and (max-width: 768px)
                and (min-width: 426px) {
                    #jumbotron {
                        font-size: 25px
                    }
            }

        /* Pseudo > Before
                --- NOTE ---
                    @lapys: The CSS properties here may be dangerous,
                        but they still run effectively on slow devices.;
        */
        #jumbotron::before {
            animation: breathe 10s ease-in-out 0s infinite alternate-reverse running;
            background: #000022;
            background: linear-gradient(135deg, #000022, #000021, #000011, #000010, #000000);
            box-shadow: inset 0 0 10000px 0 rgba(0, 0, 34, .75);
            content: '';
            height: 100%;
            left: 0;
            min-height: 100vh;
            opacity: .9;
            position: absolute;
            top: 0;
            width: 100%
        }
            /* @keyframes > Breathe */
            @keyframes breathe {
                0% {
                    box-shadow: inset 0 0 10000px 0 rgba(0, 0, 34, .75),
                                        inset 0 0 0 5000px transparent
                }

                25% {
                    box-shadow: inset 0 0 10000px 0 rgba(0, 0, 34, .75),
                                        inset 0 0 0 5000px rgba(0, 0, 0, .5)
                }

                50% {
                    box-shadow: inset 0 0 10000px 0 rgba(0, 0, 34, .75),
                                        inset 0 0 0 5000px rgba(0, 0, 0, .25)
                }

                75% {
                    box-shadow: inset 0 0 10000px 0 rgba(0, 0, 34, .75),
                                        inset 0 0 0 5000px rgba(0, 0, 0, .5)
                }

                to {
                    box-shadow: inset 0 0 10000px 0 rgba(0, 0, 34, .75),
                                        inset 0 0 0 5000px transparent
                }
            }

        /* Content */
        #jumbotron * {
            white-space: normal
        }

        /* Container */
            /* States */
                /* First of Type */
                #jumbotron > [role=container]:first-of-type {
                    color: #FFFFFF;
                    font-size: 66.6665%;
                    padding-bottom: 5%
                }
                    /* Content */
                    #jumbotron > [role=container]:first-of-type > * {
                        filter: none
                    }

                    /* Header */
                    #jumbotron > [role=container]:first-of-type > [data-id=header] {
                        zoom: 1.15
                    }
                        /* 0 */
                        #jumbotron > [role=container]:first-of-type > [data-id=header] > [data-id='0'] {
                            font-family: 'Calibri Light';
                            font-weight: lighter
                        }

                        /* 1 */
                        #jumbotron > [role=container]:first-of-type > [data-id=header] > [data-id='1'] {
                            font-family: Calibri;
                            font-weight: bolder
                        }

                    /* Sub Header */
                    #jumbotron > [role=container]:first-of-type > [data-id=subheader] {
                        font-family: 'Calibri Light';
                        font-weight: lighter;
                        zoom: .85
                    }

                /* Last Child */
                #jumbotron > [role=container]:last-child {
                    font-size: 75%;
                    padding-left: 5px;
                    padding-right: 5px;
                    position: relative;
                    right: 5px
                }
                    /* <button> */
                    #jumbotron > [role=container]:last-child > button {
                        margin-left: 5%;
                        margin-right: 5%
                    }
                        /* States */
                            /* First Child */
                            #jumbotron > [role=container]:last-child > button:first-child {
                                margin-left: 0
                            }

                            /* Last Child */
                            #jumbotron > [role=container]:last-child > button:last-child {
                                margin-right: 0
                            }

                        /* Call To Action B */
                        #jumbotron > [role=container]:last-child > button[data-id=callToActionB] {
                            font-size: 112.5%;
                            line-height: 1.25
                        }
                            /* <a> */
                            #jumbotron > [role=container]:last-child > button[data-id=callToActionB] a {
                                color: #0033FF !important;
                                display: inline-block;
                                overflow: hidden;
                                text-shadow: 0 0 3px rgba(255, 255, 255, .25) !important
                            }
                                /* @media > Mobile View */
                                @media only all
                                    and (max-width: 425px) {
                                        #jumbotron > [role=container]:last-child > button[data-id=callToActionB] a {
                                            text-align: center
                                        }
                                }

                                /* Content */
                                #jumbotron > [role=container]:last-child > button[data-id=callToActionB] a > * {
                                    transition: .15s ease-in-out
                                }

                                #jumbotron > [role=container]:last-child > button[data-id=callToActionB] a * {
                                    animation: particlesFadeIn .5s ease-in-out 0s 1 backwards running;
                                    opacity: 1
                                }
                                    /* @keyframes > Particles Fade In */
                                    @keyframes particlesFadeIn {
                                        0% {
                                            opacity: 0
                                        }

                                        to {
                                            opacity: 1
                                        }
                                    }

                                /* Not > (States > Hover) */
                                    /* Content */
                                    #jumbotron > [role=container]:last-child > button[data-id=callToActionB] a:not(:hover) > * {
                                        opacity: 0
                                    }

                                /* Pseudo > After */
                                #jumbotron > [role=container]:last-child > button[data-id=callToActionB] a::after {
                                    font-size: 130%;
                                    font-weight: bold;
                                    position: absolute;
                                    text-indent: 5px;
                                    transform: translateY(-7.5px)
                                }

                                /* States > (Focus, Hover) */
                                #jumbotron > [role=container]:last-child > button[data-id=callToActionB] a:focus,
                                #jumbotron > [role=container]:last-child > button[data-id=callToActionB] a:hover {
                                    background-color: rgba(255, 255, 255, .5);
                                    border-radius: 3px;
                                    color: #FFFFFF !important;
                                    padding: 15px 20px;
                                    text-indent: -5px;
                                    text-shadow: 0 0 3px #0033FF !important;
                                    transition: .3s ease-in-out
                                }
