/* DOM Elements */
    /* All */
    * {
        outline: 1px solid
    }
        /* States */
            /* Even */
            :nth-child(even) {
                outline-color: #0000FF
            }

            /* Odd */
            :nth-child(odd) {
                outline-color: #FF0000
            }
