/**
    @author: Lapys Dev Team
    @description: LapysJS is a JavaScript library designed to challenge the status quo of the JavaScript language and its other related vendors.
    @version: 0.0.3
    @url: https://www.lapysjs.com

    --- RULES ---
        #lapys:
            - Do not repeat CSS style declarations. You can use 'prettify.js' to optimize the CSS code here.
*/
/* CSS At-Rules */
    /* Character-Set Encoding */
    @charset 'UTF-8';
